<app-navbar></app-navbar>
<h1 class="heading--2">Post a new product for sale</h1>
<form class="form" [formGroup]="postProductForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
    <div class="form__group">
        <label class="form__label">Name</label>
        <input type="text" class="form__input" formControlName="name">
        <span *ngIf="name!.invalid && name!.touched" class="form__warning">Name must be between 3 and 20 characters</span>
    </div>

    <div class="form__group">
        <label class="form__label">Price (in dollars)</label>
        <input type="number" class="form__input" formControlName="price">
        <span *ngIf="price!.invalid && price!.touched" class="form__warning">Price is required</span>
    </div>

    <div class="form__group">
        <label class="form__label">Image</label>
        <input name="image" type="file" class="form__input" formControlName="image" (change)="onFileChanged($event)">
        <span *ngIf="image!.invalid && image!.touched" class="form__warning">Image is required</span>
    </div>

    <button class="form__btn" [disabled]="!postProductForm.valid">Submit</button>
</form>