<div class="login" *ngIf="!isLoading">
    <h1 class="heading--1">Login</h1>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form__group">
            <label class="form__label">Email</label>
            <input type="email" class="form__input" formControlName="email">
            <span *ngIf="email!.invalid && email!.touched" class="form__warning">Must enter a valid email</span>
        </div>

        <div class="form__group">
            <label class="form__label">Password</label>
            <input type="password" class="form__input" formControlName="password">
            <span *ngIf="password!.invalid && password!.touched" class="form__warning">Password is required</span>
        </div>

        <button type="submit" class="form__btn" [disabled]="!loginForm.valid">Submit</button>
        <p [routerLink]="'/register'" class="form__link">Don't have an account? Sign up here!</p>
        <app-error *ngIf="loginError.length > 0" [errorList]="loginError"></app-error>
    </form>
</div>
<div class="spinner-layout" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>