<nav class="navbar">
    
    <div class="navbar__search">
        <input type="text" class="navbar__search-input" (keyup.enter)="onSearch($event)">
        <img src="shared/icons/search-svgrepo-com.svg" class="navbar__search-icon">
    </div>
    
    <div class="navbar__icon-container" [ngClass]="{'navbar__icon-container--active' : isOptionsVisible}" (click)="toogleOptions()">
        <img src="shared/icons/user-3-svgrepo-com.svg" class="navbar__user-icon">
    </div>
    
    <div *ngIf="isOptionsVisible" class="navbar__options">
        <p class="navbar__item" [routerLink]="'/home'">Home</p>
        <hr>
        <p class="navbar__item" (click)="redirectToProfile()">Profile</p>
        <hr>
        <p class="navbar__item" [routerLink]="'/post-product'">Post a new product</p>
        <hr>
        <p class="navbar__item" (click)="logout()">Logout</p>
    </div>
     
</nav>