<nav class="navbar">
    
    <div class="navbar__search">
        <input type="text" class="navbar__search-input">
        <img src="shared/icons/search-svgrepo-com.svg" class="navbar__search-icon">
    </div>
    

    <img src="shared/icons/user-3-svgrepo-com.svg" class="navbar__user-icon" (click)="toogleOptions()">
    <div *ngIf="isOptionsVisible" class="navbar__options">
        <p class="navbar__item" (click)="redirectToProfile()">Profile</p>
        <hr>
        <p class="navbar__item" [routerLink]="'/post-product'">Post a new product</p>
        <hr>
        <p class="navbar__item" (click)="logout()">Logout</p>
    </div>
    
</nav>