@use './base' as *;

.heading--1 {
    text-align: center;
    color: $color-secondary-dark;
    font-size: 8rem;
    margin-bottom: 3rem;
}

.heading--2 {
    text-align: center;
    color: $color-secondary-dark;
    font-size: 5rem;
    margin: 2rem;
}